<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_universalctrl._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Universal Controller uses the local network to pair with your iPhone.</string>
</dict>
</plist>
